<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>

    <ion-item>
      Calculadora.
    </ion-item>
    
    <ion-item>
      <ion-input disabled="true" size = "large" type="text" id="input1"  [(ngModel)]="value1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input disabled="true" type="text" id="input2" [(ngModel)]="value2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input disabled="true" type="text" id="resultado" [(ngModel)]="value3"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col><ion-button size = "large" (click)="add(1)">1</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="add(2)">2</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="add(3)">3</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="dividir()">/</ion-button></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-button size = "large" (click)="add(4)">4</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="add(5)">5</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="add(6)">6</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="multiplicar()">*</ion-button></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-button size = "large" (click)="add(7)">7</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="add(8)">8</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="add(9)">9</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="restar()">-</ion-button></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-button size = "large" (click)="add(0)">0</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="add('.')">.</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="resultado()">=</ion-button></ion-col>
        <ion-col><ion-button size = "large" (click)="sumar()">+</ion-button></ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-list>
  
</ion-content>





